---
import Link from "./Link.astro"
const {jobTitle, summaryPoints, summaryFull, respondLink, vacancySummaryLink} = Astro.props
---

<div class="w-full h-fit project-grid-no-padding items-center gap-in_element">
    <div class="desktop:col-span-3 tablet:col-span-2 phone:col-span-2 h-fit order-first">
        <h2 class="header-3">{jobTitle}</h2>
        <ul class="text-based-link top-body-header">
            {
                summaryPoints.map(item =><p>{item}</p>)
            }
        </ul>
    </div>
    <div class="desktop:col-span-2 tablet:col-span-1 phone:col-span-2 h-fit flex flex-col gap-y-4 order-last tablet:order-2 desktop:order-2">
        <Link dest={respondLink} text="ОТКЛИКНУТЬСЯ" isPrimary={true}/>
        <Link dest={vacancySummaryLink} text="ОПИСАНИЕ ВАКАНСИИ" isPrimary={true}/>
    </div>
    <div class="col-span-3 order-3">
        <h3 class="header-4">Описание</h3>
        <p class="body top-body-header">{summaryFull}</p>
    </div>
</div>